body, html {
    height: 100%;
    font-family: "Libre Franklin", sans-serif;
    scroll-behavior: smooth;
}

.firstName {
    margin-bottom: 0px;
    font-size: clamp(23px, 4vw, 80px);
    font-weight: 900;
    letter-spacing: 20px;
}

.lastName {
    font-family: "Fjalla One", sans-serif;
    font-size: clamp(16px, 3vw, 60px);
    font-weight: 900;
    letter-spacing: 20px;
    text-align: center;
}

.firstName, .lastName, .navbar {
    text-align: center;
    color: rgb(50, 50, 50);
}

a, a:visited {
    text-decoration: none;
    color: rgb(50, 50, 50);
}

a:hover {
    text-decoration: none;
    color: rgb(0, 90, 90);
}

ul.links {
    font-size: 1.5vw;
    margin: 0px;
    padding: 0px;
}

.dropdown_menu a, .dropdown_menu li .action_btn:hover, .dropdown_menu li a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header {
    /* position: -webkit-sticky; */
    top: 0;
    z-index: 1000;
    width: 100%;
    transition: background-color 0.4s ease-in-out;
    position: sticky;
}

header.scrolled {
    background-color: #ffffff;
    color: #000000;
    position: fixed;

    
    
}

header.scrolled a {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: auto;
    margin: 0px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s ease-in-out;
}

.navbar li {
    list-style: none;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    text-decoration: none;
}

.navbar .toggle_btn {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    color: #000000;
    padding: 0.5rem 1rem;
    border: none;
    outline: solid;
    outline-color: #000000;
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #0078d4;
}

.action_btn:active {
    scale: 0.95;
}

/* ===== DROPDOWN MENU ===== */

.dropdown_menu {
    display: none;
    position: absolute;
    top: 100%;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); 

}

.dropdown_menu.open {
    height: 240px;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(15px);
}

.dropdown_menu.open li a {
    padding-top: 10px;
    background-color: #00000000;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center; 

}

@media (min-width: 768px) {
    .CV-page {
        margin: 0 auto;
        padding: 0 2em;
    }
}

@media (max-width: 445px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        width: 100%;
    }
    .firstName, .lastName {
        letter-spacing: 10px;
    }
}

/* ===== PAGE CONTENTS ===== */

.mainContainer {
    margin: 25px;
}

.home {
    margin-bottom: 100px;
}

.displayPic {
    width: 250px;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.5s;
}

.displayPic:hover {
    opacity: 1;
}

#socialLinks {
    padding-top: 30px;
}

#socialLinks, #socialLinks a:link, #socialLinks a:visited, #socialLinks a:hover {
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin: 25px
}

.home-contents {
    padding-top: 60px;
    margin-bottom: 100px;
}

/* ===== CV ===== */

#button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.cv-email-btn, .cv-email-btn:visited {
    flex: 1;
    margin: 0 5px;
    text-align: center;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.cv-email-btn:hover {
    background-color: #333333;
    color: white;
}

.CV-page {
    box-sizing: border-box;
}
  
.CV-page,
.CV-page,
.CV-page {
    box-sizing: inherit;
}
  
.CV-page {
    max-width: 700px;
    color: rgb(50, 50, 50);
    /* font-size: 2vw; */
}

  /* if IE<=7 */
  
.CV-page\ {
    width: 1100px;
}
  
.CV-secondaryHeading {
    position: relative;
    margin: 2em 0 0;
    text-transform: uppercase;
}
  /* Grid
  ****************************************************/
  
.CV-grid {
    display: table;
}
  
.CV-grid-column {
    display: table-cell;
}
  
.CV-timeline {
    position: relative;
    margin: 0 0 0 0.5em;
    padding-left: 1.5em;
    border-left: solid 1px rgb(50, 50, 50);
}
  
.CV-timeline:first-of-type {
    margin-top: 1em;
}
  
.CV-timeline:last-of-type {
    border-left-color: transparent;
}
  
.CV-timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.5em;
    display: block;
    width: 1em;
    height: 1em;
    /* border: solid 1px #191c1c; */
    background-color: #000000;
    border-radius: 50%;
}
  
.CV-timeline-heading {
    margin: 0;
    font-weight: bold;
    padding-bottom: 0.5em;
    line-height: 1em;
    font-weight: normal;
    -webkit-transform: translateY(-0.1em);
    -ms-transform: translateY(-0.1em);
    transform: translateY(-0.1em);
}
  
.CV-timeline-heading-title {
    line-height: 1;
    color: rgb(50, 50, 50);
    font-style: italic;
    text-transform: uppercase;
}
  
.CV-timeline-heading-location {
    font-size: 0.9em;
}
  
.CV-timeline-heading-duration {
    display: block;
    font-size: 0.8em;
    color: rgb(80, 80, 80);
}
  
.CV-timeline-details {
    display: block;
    margin: 0;
    padding-bottom: 2em;
    padding: 0 0 2em 1em;
    list-style-image: none;
}
  
.CV-timeline-details-item {
    margin-bottom: 0.5em;
}
  
.CV-job-timeline-item a, a:visited {
    text-decoration: none;
    color: rgb(50, 50, 50);
}

/* ===== PROJECTS ===== */

#proj1,#proj2,#proj3,#proj4 {
    width: 100%;
    height: 240px;
    opacity: 0.8;
}

#proj1, #proj2, #proj3, #proj4 {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://live.staticflickr.com/65535/53559853378_f7e6a3260f_h.jpg');
    background-size: cover;
    color: #000000;
    
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(255, 255, 255, 0.736);
    }
}

#proj1 a, #proj2 a, #proj3 a, #proj4 a {
    text-decoration: none;
    color: #000000;
}


.imgcontainer h1 {
    position: relative;
    color: #FAF9F6;  
    text-align: center;
}

#proj2 {
    background-image: url("https://live.staticflickr.com/65535/53560000749_6373d5a6d0_b.jpg");
}

#proj3 {
    background-image: url("https://live.staticflickr.com/65535/53559677881_7f75114b59_b.jpg");
}

#proj4 {
    background-image: url("https://live.staticflickr.com/65535/53558816292_05eca645e2_b.jpg");
}

/* ===== PHOTOS ===== */

#photos {
    display: flex;
    flex-direction: column;
}

#photoContainer {
    padding-top: 3vh;
    margin-bottom: 4vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#photoContainer img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    opacity: 0.8;
    /* border-radius: 10px; */
    transition: opacity 0.5s, border-radius 0.5s;
}

#photoContainer img:hover {
    opacity: 1;
    border-radius: 60px;
    color: #000000;
    box-shadow: 0 0.5em 0.5em -0.4em #222222;
}

@media (max-width: 768px) {
    #photoContainer {
        grid-template-columns: 1fr;
    }
}

#stickyArrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it's above other elements */
    display: none; /* Hide initially */
}

#stickyArrow a {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #3c3c3c9a;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    text-decoration: none;
}

#stickyArrow a:hover {
    background-color: #141414;
}

/* ===== FOOTER ===== */

footer {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #FAF9F6;
    font-size: xx-small;
    text-align: center;
}
